/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(44, 98, 165);
    color: #f5e9e9;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Content Containers */
.video-wrapper,
.toc-wrapper {
    flex: 1; /* Adjust as needed */
    overflow: hidden;
}

.content-container {
    display: flex; /* Keeps video and TOC side by side */
    gap: 20px; /* Space between video and TOC */
    overflow: hidden;
    margin-bottom: 20px; /* Added margin between containers */
}

.toc-wrapper {
    flex: 2;
    overflow-y: auto; /* Add scrollbar for TOC if content overflows */
    max-height: 400px; /* Adjust max height as needed */
    padding: 10px;
    border-radius: 5px;
}

/* Community Description Styles */
.community-description {
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    background-color: #899cae;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

.community-description p {
    margin-bottom: 15px;
    text-indent: 20px;
}

.videos-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each video section */
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Hover Effect for Video Wrapper */
.video-wrapper:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* Hover Effect for TOC Wrapper */
.toc-wrapper:hover {
    background-color: #ddd; /* Lighter background on hover */
    color: #333; /* Darker text on hover for contrast */
    transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Stack video and TOC on smaller screens */
    }
    
    .video-wrapper,
    .toc-wrapper {
        width: 100%; /* Full width on smaller screens */
    }
}

footer {
    background-color: rgb(12, 55, 55);
    padding: 20px;
    margin: auto;
}